<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Cuentas</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-4">
		<div class="d-flex justify-content-between align-items-center mb-3">
			<h2>Lista de Cuentas</h2>
			<div>
				<button class="btn btn-danger" onclick="logout()">Cerrar Sesión</button>
				<button class="btn btn-primary" onclick="registrarCuenta()">Registrar Cuenta</button>
				<button class="btn btn-secondary" onclick="generarPDF()">Generar PDF</button>
			</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Número de Cuenta</th>
					<th>Saldo</th>
					<th>Fecha de Apertura</th>
					<th>Usuario</th>
					<th>Tipo de Cuenta</th>
					<th>Estado Cuenta</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cuenta : ${lista_cuentas}">
					<td th:text="${cuenta.cuentaId}"></td>
					<td th:text="${cuenta.numeroCuenta}"></td>
					<td th:text="${cuenta.saldo}"></td>
					<td th:text="${cuenta.fechaApertura}"></td>
					<td th:text="${cuenta.usuario.nombre}"></td>
					<td th:text="${cuenta.tipoCuenta.descripcion}"></td>
					<td th:text="${cuenta.estadoCuenta.descripcion}"></td>
					<td>
						<a th:href="@{/cuentas/detalle_cuenta/{id}(id=${cuenta.cuentaId})}"
							class="btn btn-info btn-sm">Ver</a>
						<a th:href="@{/cuentas/editar_cuenta/{id}(id=${cuenta.cuentaId})}"
							class="btn btn-warning btn-sm">Editar</a>
						<a th:href="@{/cuentas/delete_cuenta/{id}(id=${cuenta.cuentaId})}"
							class="btn btn-danger btn-sm">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.2.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		function logout() {
			alert('Cerrando sesión...');
			window.location.href = "/login";  // Cambia la URL según sea necesario
		}

		function registrarCuenta() {
			alert('Redirigiendo a registrar cuenta...');
			window.location.href = "/cuentas/registrar_cuenta";  // Cambia la URL según sea necesario
		}

		function generarPDF() {
			alert('Generando PDF...');
			window.location.href = "/cuentas/generarCuenta_pdf";  // Cambia la URL según sea necesario
		}
	</script>
</body>

</html>